.LandingPage{
    width: 1440px;
    height: 1343;
    top: -450px;
    left: -721px;
    position: relative;

}
.Rectangle {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 20px
     rgba(31, 32, 65, 0.05);
}
.Logo {
    position: absolute;
    width: 53.19px;
    height: 12.95px;
    left: 192.5px;
    top:28.33px;
    background: rgba(31, 32, 65, 1);
}